.heading {
  font-size: clamp(1.25rem, 1.1234rem + 0.6329vw, 1.875rem);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  width: fit-content;
}

.missing {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: clamp(1rem, 0.8481rem + 0.7595vw, 1.75rem);
      line-height: 1.5;
      margin: 0;

      .icon {
        margin-right: 8px;
        color: #e63946;
      }
    }
  }
}
