.heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading {
  font-size: clamp(1.25rem, 1.1234rem + 0.6329vw, 1.875rem);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  width: fit-content;
}

.main_heading {
  font-size: clamp(1.5rem, 1.3987rem + 0.5063vw, 2rem);
  line-height: 1.2;
}

.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: clamp(1rem, 0.8987rem + 0.5063vw, 1.5rem);
  line-height: 1.5;
}
.meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #3541cd;
  align-items: center;
}

.filename {
  font-weight: 600;
}

.date {
  font-size: clamp(0.875rem, 0.8244rem + 0.2532vw, 1.125rem);
}
