.return {
  align-self: flex-start;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  font-weight: 500;
  font-size: clamp(1rem, 0.8987rem + 0.5063vw, 1.5rem);
  cursor: pointer;
  transition: all;
  margin-bottom: 2rem;
}

.return:hover {
  color: #b846e8;
  outline: 2px solid transparent;
  border-bottom: 1px solid #b846e8;
  transition: all;
}

.return:hover .return_icon {
  animation: arrowMoving 0.5s linear infinite;
}

@keyframes arrowMoving {
  0% {
    transform: translateX(0px) scale(1.05);
  }
  50% {
    transform: translateX(5px) scale(1.05);
  }
  100% {
    transform: translateX(0px) scale(1.05);
  }
}
