.not_found {
  margin: 0 auto;
  padding: 4rem 1.25rem;
  text-align: center;
  font-size: clamp(1.25rem, 1.1234rem + 0.6329vw, 1.875rem);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  overflow-wrap: break-word;
  width: fit-content;
}

.container {
  margin: 0 auto;
  padding: 2rem 1.25rem;
}

.resume_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.heading {
  font-size: clamp(1.25rem, 1.1234rem + 0.6329vw, 1.875rem);
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  width: fit-content;
}

.main_heading {
  font-size: clamp(1.5rem, 1.3987rem + 0.5063vw, 2rem);
  line-height: 1.2;
}

.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: clamp(1rem, 0.8987rem + 0.5063vw, 1.5rem);
  line-height: 1.5;
}

.chart_wrapper {
  width: 100%;
  max-width: 900px;
  margin-top: 1.5rem;
}

.match {
  margin: 2rem 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 0rem;
  }
  .resume_section {
    width: 90%;
    margin: 0 auto;
  }
  .meta {
    flex-direction: row;
    justify-content: space-between;
  }
}
